@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

a{
    color: inherit;
    text-decoration: none;
}

/*Navbars*/
#logo {
    margin-right: auto;
    padding: 0 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a{
    padding: 2rem;
    border-top: 3px solid transparent;
}

.signup{
    font-weight: bold;
}

nav a:hover{
    border-top-color: blue;
    color: blue;
}

.nav-sub{
    display: flex;  
}

.nav-sub a{
    border-top-color: transparent;
    border-bottom-color: blue;
}

/*Body*/
.wrapper{
    padding: 0 2rem;
}

.wrapper h1, .wrapper p{
    margin-bottom: 0.8rem;
}

/* Search From */
.search_from{
    display: flex;
}

.search_from *{
    font-weight: bold;
    font-size: 1rem;
}

.search_from i{
    background-color: #F2F2F2;
    padding: 1rem 0;
    border-radius: 1rem 0 0 1rem;
    flex-basis: 4%;
    text-align: center;
}

.search_from input{
    border: lightgrey;
    flex-basis: 20%;
    padding: .2rem .5rem;
}

.search_from input::placeholder{
    padding: .2rem .5rem;
}

.search_from button{
    background-color: blue;
    padding: 1rem;
    flex-basis: 10%;
    border-radius: 0 1rem 1rem 0;
    border: none;
    color: white;
    cursor: pointer;
    opacity: 0.8;
    transition: transform 200ms;
}

.search_from button:hover{
    opacity: 1;
    transform: scale(1.03);
}

@media (max-width: 800px){
    .nav-sub{
        order: 1;
        flex-basis: 100%;
    }
    .nav-sub a{
        flex-basis: 50%;
        text-align: center;
    }
    
    .nav-sub a:hover{
        border-top-color: transparent;
        border-bottom: 3px solid blue;
    }
}

